
@model MyDictionary.Models.ViewModels.ExerciseViewModel

<br />
<h2 class="text-info">Write French Word @Model.CorrectFrenchWord</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Word.Id != 0)
        {
            <input type="hidden" asp-for="Word.Id" />
        }

        <input id="inputFrenchWord" type="hidden" asp-for="InputFrenchWord" />

        <input type="hidden" asp-for="@Model.CorrectFrenchWord" id="correctFrenchWord" />

        <input id="isWordsSame" type="hidden" asp-for="IsWordsSame" />

        <div class="text-dnager" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Word.PolishWord"></label>
            </div>
            <div class="col-6">
                <input asp-for="Word.PolishWord" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Word.FrenchWord"></label>
            </div>
            <div class="col-6">
                <input asp-for="TempInputFrenchWord" id="tempInputFrenchWord" idclass="form-control" autocomplete="off" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Lesson"></label>
            </div>
            <div class="col-6">
                <input asp-for="Lesson" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 ">
                <input type="submit" value="Check" onclick="validateInput()" class="btn btn-warning form-control" asp-controller="Exercise" asp-action="Exercise" asp-route-Lesson="@Model.Lesson" asp-route-Repetition="@Model.Repetition" asp-route-CorrectFrenchWord="@Model.Word.FrenchWord" asp-route-InputFrenchWord="@Model.InputFrenchWord" asp-route-IsWordsSame="@Model.IsWordsSame">
            </div>
            <div class="col-3 ">
                <button type="submit" class="btn btn-primary form-control">
                    New Word
                </button>
            </div>
            <div class="col-3">
                <a asp-controller="Words" asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    @*<script>

        function validateInput() {
            var inputFrenchWord = document.getElementById("tempInputFrenchWord").value;
            var correctFrenchWord = document.getElementById("correctFrenchWord").value;

            if ((inputFrenchWord != null) && (correctFrenchWord != null)) {

                alert(correctFrenchWord + " " + inputFrenchWord);

                document.getElementById("inputFrenchWord").value = document.getElementById("tempInputFrenchWord").value;
                var isWordsSame = (correctFrenchWord.normalize() === inputFrenchWord.normalize());
                document.getElementById("isWordsSame").value = isWordsSame;
                if (isWordsSame) {
                    alert("Good")
                } else {
                    alert("Wrong");
                }
                document.getElementById("tempInputFrenchWord").value = "";
            }
        }

    </script>*@
}